@import '@/app/_variables.scss';

.comment {
  background-color: $color-white;
  color: $color-grayish-blue;
  border-radius: 10px;
  padding: 1.25rem;
  margin-block: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.comment__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 2;
}

.comment__timestamp {
  margin-left: 0.5rem;
}

.author__identification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.author__name {
  text-transform: lowercase;
  font-weight: 500;
  color: $color-dark-blue;
}

.author__badge {
  background-color: $color-moderate-blue;
  color: $color-white;
  font-weight: 500;
  padding: 0.15rem 0.5rem;
  border-radius: 5px;
}

.author__picture img {
  width: 42px;
  aspect-ratio: 1;
}

.comment__mention {
  font-weight: 500;
  color: $color-moderate-blue;
}

.comment__body {
  margin-block: 1.25rem;
  grid-column: 1 / span 2;
  line-height: 1.5em;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.voting_tab {
  display: flex;
  align-items: center;
  background-color: $color-very-light-gray;
  border-radius: 5px;
  justify-self: left;
}

.vote_count {
  font-weight: 500;
  color: $color-moderate-blue;
  padding: 0.75rem 0.5rem;
}

.actions {
  font-weight: 500;
  display: flex;
  justify-self: right;
}

.author_actions {
  display: flex;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $color-moderate-blue;
  margin-left: 0.5rem;
}

.action:hover {
  opacity: 70%;
}

#action_delete {
  color: $color-soft-red;
}

.action span {
  align-self: center;
  padding-inline: 0.5rem;
}

.action img {
  width: 16px;
  max-width: unset;
}

.upvote, .downvote {
  padding: 0.75rem;
  cursor: pointer;
}

.edit_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.25rem;
}

.edit_form textarea {
  resize: none;
  width: 100%;
  padding: 0.75rem 1rem;
  border-color: $color-light-gray;
  cursor: pointer;
  border-radius: 10px;
  color: $color-dark-blue;
}

.edit_form textarea:focus-visible {
  outline: 1px solid $color-moderate-blue;
}

.edit_form button {
  color: white;
  background-color: $color-moderate-blue;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
}

.edit_form button:hover {
  opacity: 80%;
}

.comment_text {
  position: unset;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

@media (min-width: $breakpoint-lg-screen) {
  .comment {
    grid-template-columns: min-content auto min-content;
    grid-template-rows: auto auto;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .comment__info {
    grid-column: 2;
    gap: 0.75rem;
    justify-content: left;
  }

  .comment__body {
    grid-column: 2 / span 2;
    grid-row: 2;
    margin-block: 0;
  }

  .comment__timestamp {
    margin-left: 0;
  }

  .voting_tab {
    grid-row: 1 / span 2;
    grid-column: 1;
    flex-direction: column;
    align-self: start;
  }

  .actions {
    grid-column: 3;
  }

  .vote_count {
    padding: 0.5rem 0.75rem;
  }

  .upvote, .downvote {
    height: 36px;
  }
}