@import "@/app/_variables.scss";

.board {
  padding: 1rem;
  margin: 2rem auto;
}

.sub_board {
  padding-left: 1rem;
  border-left: 1px solid $color-light-gray;
}

.container {
  margin-block: 1rem;
}

@media (min-width: $breakpoint-lg-screen) {
  .board {
    width: 75%;
  }

  .sub_board {
    padding-left: 3rem;
  }
}